<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Title }}</title>

<meta name="theme-color" content="#6cc644"/>
<meta name="default-theme" content="auto"/>
<meta name="author" content="discord-plays.xyz"/>
<meta name="description" content="discord-plays.xyz"/>
<meta name="keywords" content="go,discord-plays.xyz,discord plays">
<meta name="referrer" content="no-referrer"/>

<meta property="og:title" content="Discord Plays"/>
<meta property="og:url" content="https://discord-plays.xyz"/>
<meta property="og:type" content="object"/>
<meta property="og:image" content="https://discord-plays.xyz/assets/img/favicon.png"/>
<meta property="og:site_name" content="Discord Plays"/>

<link rel="icon" href="assets/img/logo.svg" type="image/svg+xml"/>
<link rel="alternate icon" href="assets/img/favicon.png" type="image/png"/>

<link rel="stylesheet" href="assets/css/theme-discord-plays.css"/>
<script src="assets/js/discord-plays.js"></script>
