<div class="container marketing text-light">
    <!--featurettes-->
    <div class="row featurette" style="margin-top: 2rem;">
        <div class="col-md-7" style="padding-top: 2.5rem;">
            <h1 class="featurette-heading">
                Discord Plays Minesweeper:
                <span class="text-muted">Boom.</span>
            </h1>
            <p class="lead">
                Minesweeper is a Discord bot that allows you to play a highly customised game of Minesweeper. You can even add custom mines!
            </p>
            <button type="button" class="btn btn-light">Invite to your server!</button>
        </div>
        <div class="col-md-5">
            <img
                class="featurette-image img-fluid mx-auto"
                width="500"
                height="500"
                src="assets/Minesweeper.png"
                alt="Minesweeper"
            />
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette" style="margin-top: 2rem;">
        <div class="col-md-5">
            <img
                class="featurette-image img-fluid mx-auto"
                width="500"
                height="500"
                src="assets/generic.png"
                alt="asdf"
            />
        </div>
        <div class="col-md-7" style="padding-top: 2.5rem;">
            <h1 class="featurette-heading">
                Discord Plays discord plays lol bot:
                <span class="text-muted">asdsofjsdfjdso</span>
            </h1>
            <p class="lead">
                generic blah blah 
            </p>
            <button type="button" class="btn btn-light">Invite to your server!</button>
        </div>
    </div>
</div>