<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid">
        <!--Logo + Name-->
        <a class="navbar-brand" href="{{.RootDomain}}">
            <img src="{{.RootDomain}}/assets/logo.png" width="30" height="30" class="d-inline-block align-top"/>
            Discord Plays
        </a>
        <!--Toggle Button-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--Page Nav-->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="{{.RootDomain}}">Home</a>
                <!--<a class="nav-link" aria-current="page" href="#">Projects</a>-->
            </div>
        </div>
    </div>
</nav>
