<div class="container marketing text-light">
    <!--featurettes-->
    {{$isFirstProject := true}}
    {{range $i, $a := .Projects}}
        {{if not $isFirstProject}}
            <hr class="featurette-divider"/>
            {{$isFirstProject = false}}
        {{end}}
        <div class="row featurette" style="margin-top: 2rem;">
            {{if mod $i 2}}
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" width="500" height="500"
                         src="{{$.Protocol}}://{{.Code}}{{$.ProjectDomain}}/assets/logo.png"
                         alt="Discord Plays {{.ImageAlt}}"/>
                </div>
            {{end}}
            <div class="col-md-7" style="padding-top: 2.5rem;">
                <h1 class="featurette-heading">
                    Discord Plays {{.Name}}:
                    <span class="text-muted">{{.SubText}}</span>
                </h1>
                <p class="lead">{{.Description}}</p>
                <a type="button" class="btn btn-primary" href="/bots/{{.Code}}">More info</a>
            </div>
            {{if not (mod $i 2)}}
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" width="500" height="500"
                         src="{{$.Protocol}}://{{.Code}}{{$.ProjectDomain}}/assets/logo.png"
                         alt="Discord Plays {{.ImageAlt}}"/>
                </div>
            {{end}}
        </div>
    {{end}}
    <!--/featurettes-->
</div>
